<div>
  <form [formGroup]="pageSizeForm">
    <fieldset>
      <div class="row justify-content-end">
        <div class="col-md-3 d-flex align-items-center">
          <label for="pageSize" jhiTranslate="global.entity.itemsPerPage">Items per Page</label>
        </div>
        <div class="col-md-7">
          <select class="form-select" id="pageSize" formControlName="pageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </fieldset>
  </form>
</div>
