<h2 class="sub-header"><i class="fa fa-envelope-o"></i> Message detail</h2>

<div *ngIf="message" class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Id:</h4>
        </div>
        <div class="col-sm-10">
            <h4>#{{message.messageId}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Direction:</h4>
        </div>
        <div class="col-sm-10">
            <h4><span [class]="message.direction == 'INBOUND' ? 'label label-success' : 'label label-primary'">{{message.direction}}</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Date:</h4>
        </div>
        <div class="col-sm-10">
            <h4>{{message.date | date:format}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Scenario:</h4>
        </div>
        <div class="col-sm-10">
            <h4><a [routerLink]="['/activity',message.scenarioExecutionId]">{{message.scenarioName}}</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Payload:</h4>
        </div>
        <div class="col-sm-10">
            <pre>{{message.payload}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="pull-right">Headers:</h4>
        </div>
        <div class="col-sm-10">
            <message-header-list  *ngIf="message" [messageHeaders]="message.headers"></message-header-list>
        </div>
    </div>
</div>

<div class="btn-group">
    <button class="btn btn-default" (click)="goBack()" title="Go Back"><span class="fa fa-arrow-left" aria-hidden="true"></span> Back</button>
</div>
