.navbar-brand {
    text-shadow: none;
}

.navbar-brand span {
    color: #ffffff;
}

.navbar-brand:hover span {
    color: #ffffff;
}

.navbar-brand img {
    float: left;
    margin-top: -2px;
    margin-right: 3px;
}

.navbar-default {
    background: #0096D6;
    border: none;
}

.navbar .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}

.active {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);
}

.nav-toggler, .nav-toggler:focus {
    background-color: transparent;
    font-size: 1.3rem;
    color: white;
    box-shadow: 0 0 0 0;
}

.padding-left {
    padding-left: 0;
}

li:hover {
    background-color: #33abde;
}