<nav class="navbar navbar-expand-md navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand nav-link padding-left" [routerLink]="['/status']"><img src="assets/images/brand-logo.png"/> <span>Simulator</span></a>
        </div>
        <button class="navbar-toggler nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/images/menu.svg"/>
        </button>

        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                <li [routerLinkActive]="['active']" class="nav-item"><a class="nav-link text-white text-center" [routerLink]="['/status']"><i class="fa fa-pie-chart"></i> Status</a>
                </li>
                <li [routerLinkActive]="['active']"><a class="nav-link text-white text-center" [routerLink]="['/activity']"><i class="fa fa-cogs"></i> Activity</a>
                </li>
                <li [routerLinkActive]="['active']"><a class="nav-link text-white text-center" [routerLink]="['/scenario']"><i class="fa fa-cubes"></i>
                    Scenarios</a></li>
                <li [routerLinkActive]="['active']"><a class="nav-link text-white text-center" [routerLink]="['/message']"><i class="fa fa-envelope-o"></i>
                    Messages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li [routerLinkActive]="['active']"><a class="nav-link text-white text-center" [routerLink]="['/about']" style="min-width: 2em !important;"><i class="fa fa-info-circle"></i> About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
