target
.project
.classpath
.settings
.idea
.vscode
.DS_Store
*.iml
*.ipr
*.iws
.metadata
bin
.codepro
.pmd
test-output
logs
*.log

### Angular ###
node_modules
typings
**/app/**/*.js
**/app/**/*.js.map
**/systemjs-config.js.map
**/systemjs-config.js
