language: java

dist: focal
os: linux

jobs:
  include:
    # OpenJDK - Java 11 (current)
    - env: SONAR='true'
      jdk: openjdk11
    # OpenJDK - Java 17 (latest)
    - env: SONAR='false' BUILD_OPTS='-Djava.version=17 -Dspring.version=5.3.10 -Dspring.boot.version=2.5.5'
      jdk: openjdk17
  allow_failures:
    - env: SONAR='false' BUILD_OPTS='-Djava.version=17 -Dspring.version=5.3.10 -Dspring.boot.version=2.5.5'

script:
  - if [[ "${SONAR_SCANNER_HOME}" != "" && "${SONAR}" == "true" ]]; then export MVN_INSTALL="org.jacoco:jacoco-maven-plugin:prepare-agent install -Dembedded sonar:sonar -Dsonar.projectKey=citrus-simulator" ; else export MVN_INSTALL="install" ; fi
  - ./mvnw --batch-mode -q -Pskip-it clean ${MVN_INSTALL} ${BUILD_OPTS}
  - ./mvnw --batch-mode -f simulator-samples/pom.xml verify ${BUILD_OPTS}

cache:
  directories:
    - '$HOME/.sonar/cache'
    - '$HOME/.m2'

addons:
  sonarcloud:
    organization: "citrusframework"
    token:
      secure: "TJGwqMwihT6FU/jiExqGrL4YCJVJKKBu30bx0dHaromZ7Au4/gfKk3MgH67h3gU39lcEkDSEpZXIhimnbnpHbTqh8I4M6umQRilpkDRfsweMBiBXW+MFy+hoy4njbsD3n6NGleNRlAy2zaL7+/E/uHl5TExtplG5dAy1yIeNxv7F+n/QfDj/lewIBFFSDNTX+LEUslxs5cqSRTaAxRJMayf4mxLRN0EpjeILlGS/vaIB7ME6fCodj4L1GettBtXcjEDkKaevhl/XyFU3UFXkSTpH53lRdqMMFfB4NYG8lWquPCicv6ein+wxbDpPUVIWdHX7Xp94sUZ3QRUTgO19bRQkZFiZSrffDA19OexLvdjRkUagMGPz7iE+U0X0/tk8+qvxm6/lFt7rfZUcDCHHa8cV+PLFCR2zh3J1lCYqpABUhpRQTA8CDgQJopGk9gakKcslmwvvGtRjpCsrgGnofgzc3DJ+qLIcJKVGwDWeVSvdtiJgpFnGwbmQ2O0W1mH3S431L4vxtgKmcIhkK4CyjIzLgEt0YOo0Loqe0szVY2VhB7kfgRAsWq5l02SihpgFMoSBrdx0kdbusgXjgzJxKbv5IY2Y2xBTRATClc0Bl1yJzJsSm5wF0LdQTKkCsTPxJBCLL4AmfYlWd2wk6t7OJQ0YiqmA93cbdaYjVmrUYMY="
