<div>
  <h2 id="page-heading" data-cy="MessageHeading">
    <span jhiTranslate="citrusSimulatorApp.message.home.title">Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="citrusSimulatorApp.message.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="displayFilters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="messages?.length === 0">
    <span jhiTranslate="citrusSimulatorApp.message.home.notFound">No Messages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="messages && messages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="messageId">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direction">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.direction">Direction</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="payload">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.payload">Payload</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="citrusMessageId">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.citrusMessageId">Citrus Message Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="scenarioExecution.id">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.scenarioExecution">Scenario Execution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.message.lastModifiedDate">Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/message', message.messageId, 'view']">{{ message.messageId }}</a>
          </td>
          <td>{{ message.direction }}</td>
          <td>{{ message.payload }}</td>
          <td>{{ message.citrusMessageId }}</td>
          <td>
            <div *ngIf="message.scenarioExecutionId">
              <a [routerLink]="['/scenario-execution', message.scenarioExecutionId, 'view']">{{ message.scenarioName }}</a>
            </div>
          </td>
          <td>{{ message.createdDate | formatMediumDatetime }}</td>
          <td>{{ message.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="button"
                [routerLink]="['/message-header']"
                [queryParams]="{ 'filter[messageId.in]': message.messageId }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="heading"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('citrusSimulatorApp.message.headers' | translate) }"
                  >Show Message Header</span
                >
              </button>
              <button
                type="button"
                [routerLink]="['/message', message.messageId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="messages && messages.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
