<h3>Scenario Parameters</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th width="30%">Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let scenarioParameter of scenarioParameters" class="parameter">
            <td>{{scenarioParameter.label}}</td>
            <td>{{scenarioParameter.controlType}}</td>
            <td>{{scenarioParameter.value | truncate : 50}}</td>
        </tr>
        <tr class="no-parameters">
            <td colspan="3">No start parameters were used</td>
        </tr>
        </tbody>
    </table>
</div>
