<div>
  <h2 id="page-heading" data-test="ScenarioHeading">
    <span jhiTranslate="citrusSimulatorApp.scenario.home.title">Scenarios</span>
  </h2>

  <div class="mb-3">
    <form name="scenarioPageSizeForm" [formGroup]="filterForm" (ngSubmit)="applyFilter()">
      <fieldset>
        <div class="row align-items-end">
          <div class="form-group col-md-6">
            <label for="name" class="form-label mt-4" jhiTranslate="citrusSimulatorApp.scenarioExecution.scenarioName"
              >Scenario Name:</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Filter by name..."
              formControlName="nameContains"
              data-test="scenarioFilterByNameInput"
            />
          </div>

          <div class="form-group col-md-3 me-md-auto">
            <app-select-page-size [key]="USER_PREFERENCES_KEY" (pageSizeChanged)="pageSizeChanged($event)"></app-select-page-size>
          </div>

          <div class="btn-group form-group col-md-2 mt-sm-3">
            <button
              [disabled]="filterForm.pristine"
              type="button"
              class="btn btn-secondary"
              (click)="resetFilter()"
              data-test="clearFilterButton"
            >
              <fa-icon icon="xmark"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.filters.clear">Clear Filter</span>
            </button>

            <button class="btn btn-info" (click)="load()" [disabled]="isLoading" data-test="refreshListButton">
              <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
              <span jhiTranslate="citrusSimulatorApp.scenario.home.refreshListLabel">Refresh List</span>
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="scenarios?.length === 0" data-test="noDataFound">
    <span jhiTranslate="citrusSimulatorApp.scenario.home.notFound">No Scenarios found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="scenarios && scenarios.length > 0">
    <table class="table table-striped table-hover" aria-describedby="page-heading" data-test="scenarioEntitiesTable">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenario.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenario.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let scenario of scenarios; trackBy: trackId"
          data-test="scenarioEntitiesRow"
          class="clickable-row"
          [routerLink]="['/scenario', scenario.name, scenario.type, 'view']"
        >
          <td>
            <a [routerLink]="['/scenario', scenario.name, scenario.type, 'view']" data-test="scenarioEntitiesName">{{ scenario.name }}</a>
          </td>
          <td data-test="scenarioEntitiesType">{{ scenario.type }}</td>
          <td class="text-end">
            <div class="btn-group" (click)="$event.stopPropagation()">
              <button
                *ngIf="scenario.type === 'STARTER'"
                type="submit"
                class="btn btn-info btn-sm"
                data-test="scenarioLaunchButton"
                (click)="launch(scenario)"
              >
                <fa-icon icon="play"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="citrusSimulatorApp.scenario.action.launch">Launch</span>
              </button>
              <a
                [routerLink]="['/scenario-result']"
                [queryParams]="{ 'filter[scenarioName.equals]': scenario.name }"
                data-test="scenarioEntitiesScenarioExecutions"
              >
                <button type="button" data-test="scenarioExecutionButton" class="btn btn-info btn-sm">
                  <fa-icon icon="square-poll-vertical"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="citrusSimulatorApp.scenario.scenarioExecutions">Scenario Executions</span>
                </button>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="scenarios && scenarios.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
