* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 70px
}

.label-pill {
    float: right;
    border-radius: 1em;
}

.sub-header {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.space-top-30 {
    margin-top: 30px;
}

/** Header navigation */

.navbar-nav > li > a {
    min-width: 8em;
}

/** Buttons **/

.btn-primary {
    color: #ffffff;
    border-color: #0096D6;
    background: #0096D6;
}

.btn-primary:hover {
    border-color: #33abde;
    background-color: #33abde;
}

.btn-return {
    color: #ffffff;
    border-color: #d66e5b;
    background: #d66e5b;
}

.btn-return:hover {
    border-color: #d6857a;
    background-color: #d6857a;
}

.btn-filter:focus, .btn-filter:active:focus, .btn-filter.active:focus, .btn-filter.focus, .btn-filter:active.focus, .btn-filter.active.focus {
    outline: 0;
}

.clickable{
    cursor: pointer;
}

tr td {
    font-size: 14px;
}