<div class="table-responsive table-entities" id="entities" *ngIf="sortedActions && sortedActions.length > 0; else noParameters">
  <table class="table table-striped table-hover" data-test="scenarioActionsEntityTable" aria-describedby="page-heading">
    <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="sortActions()">
        <th scope="col" jhiSortBy="actionId">
          <div class="d-flex">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.scenarioAction.name">Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="startDate">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.scenarioAction.startDate">Start Date</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="endDate">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.scenarioAction.endDate">End Date</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let scenarioAction of sortedActions; trackBy: trackId"
        data-test="scenarioActionsEntityRow"
        class="clickable-row"
        [routerLink]="['/scenario-action', scenarioAction.actionId, 'view']"
      >
        <td>
          <a [routerLink]="['/scenario-action', scenarioAction.actionId, 'view']" data-test="scenarioActionsEntityScenarioActionLink">{{
            scenarioAction.actionId
          }}</a>
        </td>
        <td data-test="scenarioActionsEntityName">{{ scenarioAction.name }}</td>
        <td data-test="scenarioActionsEntityStartDate">{{ scenarioAction.startDate | formatMediumDatetime }}</td>
        <td data-test="scenarioActionsEntityEndDate">{{ scenarioAction.endDate | formatMediumDatetime }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noParameters>
  <div class="alert alert-warning" id="no-result" data-test="noDataFound">
    <span jhiTranslate="citrusSimulatorApp.scenarioAction.home.notFound">No Scenario Actions found</span>
  </div>
</ng-template>
