<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="scenarioExecution">
      <h2 data-cy="scenarioExecutionDetailsHeading">
        <span jhiTranslate="citrusSimulatorApp.scenarioExecution.detail.title">Scenario Execution</span>
      </h2>

      <hr />

      <app-alert-error></app-alert-error>

      <app-alert></app-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="citrusSimulatorApp.scenarioExecution.id">ID</span></dt>
        <dd>
          <span>{{ scenarioExecution.executionId }}</span>
        </dd>
        <dt><span jhiTranslate="citrusSimulatorApp.scenarioExecution.startDate">Start Date</span></dt>
        <dd>
          <span>{{ scenarioExecution.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="citrusSimulatorApp.scenarioExecution.endDate">End Date</span></dt>
        <dd>
          <span>{{ scenarioExecution.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="citrusSimulatorApp.scenarioExecution.scenarioName">Scenario Name</span></dt>
        <dd>
          <span>{{ scenarioExecution.scenarioName }}</span>
        </dd>
        <dt><span jhiTranslate="citrusSimulatorApp.testResult.status">Status</span></dt>
        <dd>
          <span>{{ scenarioExecution.testResult?.status }}</span>
        </dd>
        <dt><span jhiTranslate="citrusSimulatorApp.testResult.errorMessage">Error Message</span></dt>
        <dd>
          <span>{{ scenarioExecution.testResult?.errorMessage }}</span>
        </dd>
      </dl>

      <div ngbAccordion class="mb-3">
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton jhiTranslate="citrusSimulatorApp.testResult.stackTrace">Stacktrace</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>{{ scenarioExecution.testResult?.stackTrace }}</ng-template>
            </div>
          </div>
        </div>
      </div>

      <h3 data-cy="messageDetailsHeading">
        <span jhiTranslate="citrusSimulatorApp.message.home.title">Messages</span>
      </h3>

      <hr />

      <app-message-table [messages]="scenarioExecution.scenarioMessages ?? []" predicate="createdDate"></app-message-table>

      <button type="button" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
