<div>
  <h2 id="page-heading" data-test="scenarioParameterHeading">
    <span jhiTranslate="citrusSimulatorApp.scenarioParameter.home.title">Scenario Parameters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading" data-test="refreshListButton">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="citrusSimulatorApp.scenarioParameter.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="displayFilters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="scenarioParameters?.length === 0" data-test="noDataFound">
    <span jhiTranslate="citrusSimulatorApp.scenarioParameter.home.notFound">No Scenario Parameters found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="scenarioParameters && scenarioParameters.length > 0">
    <table class="table table-striped table-hover" aria-describedby="page-heading" data-test="scenarioParameterEntityTable">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="parameterId">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="controlType">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.controlType">Control Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="value">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.value">Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.lastModifiedDate">Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="scenarioExecution.scenarioName">
            <div class="d-flex">
              <span jhiTranslate="citrusSimulatorApp.scenarioParameter.scenarioExecution">Scenario Execution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let scenarioParameter of scenarioParameters; trackBy: trackId"
          data-test="scenarioParameterEntityRow"
          class="clickable-row"
          [routerLink]="['/scenario-parameter', scenarioParameter.parameterId, 'view']"
        >
          <td>
            <a [routerLink]="['/scenario-parameter', scenarioParameter.parameterId, 'view']" data-test="scenarioParameterEntityId">{{
              scenarioParameter.parameterId
            }}</a>
          </td>
          <td data-test="scenarioParameterEntityName">{{ scenarioParameter.name }}</td>
          <td data-test="scenarioParameterEntityControlType">{{ scenarioParameter.controlType }}</td>
          <td data-test="scenarioParameterEntityValue">{{ scenarioParameter.value }}</td>
          <td data-test="scenarioParameterEntityCreatedDate">{{ scenarioParameter.createdDate }}</td>
          <td data-test="scenarioParameterEntityLastModified">{{ scenarioParameter.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="scenarioParameter.scenarioExecution" (click)="$event.stopPropagation()">
              <a
                [routerLink]="['/scenario-execution', scenarioParameter.scenarioExecution.executionId, 'view']"
                data-test="scenarioParameterEntityScenarioExecutionLink"
                >{{ scenarioParameter.scenarioExecution.scenarioName }}</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="scenarioParameters && scenarioParameters.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
