<div class="row">
    <div class="col-md-12">
		<div class="jumbotron">
		    <h1>{{title}}</h1>

		    <p>Welcome to the Citrus simulator application. This web application is capable of simulating REST, SOAP WebServices and JMS. The server
		    accepts client requests and provides simulated responses to the calling client.</p>

			<p>
				<a class="btn btn-lg btn-primary" [routerLink]="['/status']" role="button">Start</a>
				<a class="btn btn-lg btn-info" [routerLink]="['/help']" role="button">Help</a>
				<a class="btn btn-lg btn-info" [routerLink]="['/about']" role="button">About</a>
			</p>
		</div>
    </div>
</div>
		