<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Citrus Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Citrus Simulator Status">
    <meta name="author" content="ConSol Software GmbH">

    <link rel="shortcut icon" href="favicon.ico">

    <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
        $('a.msg-template').click(function(event) {
          $('#payload').val($('#' + event.currentTarget.text).text());
        });

        $('a.msg-custom').click(function(event) {
          $('#payload').val('');
        });

        $('input.scenarioStarter').click(function(event) {
          // display templates matching current scenario starter
          $('ul.nav-tabs').find('li').hide();
          $('ul.nav-tabs').find('li.default').show();
          $('ul.nav-tabs').find('li.' + $(this).attr('value')).show();
          $('ul.nav-tabs').find('li.default').find('a').click();

          // hide filtered form fields and display those which match current scenario starter
          $('.filtered').hide();
          $('.filtered.' + $(this).attr('value')).show();
        });

        $('input.scenarioStarter.default').click();

        $('input.datefield').attr('data-date-format', 'yyyy-mm-dd');
        $('input.datefield').datepicker().on('changeDate', function() {
                      $(this).datepicker('hide');
                      return false;
                  });

        $('input.datefield').change(function() {
                      $(this).datepicker('setValue', $(this).val());
                      return false;
                  });
      });
    </script>

    <style>
      body {
        padding-top: 60px;
      }

      ul.test-params {
        list-style: none;
        margin: 0;
      }

      ul.nav-tabs {
        font-size: 13px;
      }

      ul.nav-tabs > li > a {
        padding-right: 8px;
        padding-left: 8px;
      }

      textarea {
        font-family: Courier New;
        font-size: 14px;
        color: #08c;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Simulator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/status">Status</a></li>
            <li class="active"><a href="/run">Run</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <h1 class="page-header">Run <small>Start new simulator scenario</small></h1>

      <form action="run" method="POST" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Scenario</label>
            <div class="col-sm-10">
              {{#each scenarioList}}
              <label class="radio">
                <input type="radio" name="scenario" class="scenarioStarter {{#if default}}default{{/if}}" value="{{name}}">
                {{displayName}}
              </label>
              {{/each}}
            </div>
          </div>

          {{#each parameter}}
          <div class="form-group{{#if scenarioFilter}} filtered {{scenarioFilter}}{{/if}}">
            <label class="col-sm-2 control-label">{{displayName}}</label>
            <div class="col-sm-10">
              {{#if options}}
              <select id="{{id}}" class="form-control" name="{{id}}">
                {{#each options}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              {{/if}}
              {{#unless options}}
              <input id="{{id}}" class="form-control{{#if fieldType}} {{fieldType}}{{/if}}" name="{{id}}" type="text" value="{{value}}"/>
              {{/unless}}
            </div>
          </div>
          {{/each}}

          <div class="form-group">
            <label class="col-sm-2 control-label">Payload</label>
            <div class="col-sm-10">
              <div class="tabbable tabs-below">
                <div class="tab-content">
                  <div class="tab-pane active">
                    <textarea id="payload" rows="15" class="form-control" name="payload" type="text" placeholder="Copy payload here!"></textarea>
                    {{#each messageTemplates}}
                    <pre id="{{name}}" style="display: none;">{{payload}}</pre>
                    {{/each}}
                  </div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="default active"><a href="#Palyoad" class="msg-custom" data-toggle="tab">Custom</a></li>
                  {{#each messageTemplates}}
                  <li class="{{starterType}}" style="display: none;"><a href="#Payload" class="msg-template" data-toggle="tab">{{name}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="button-start" class="btn btn-primary" type="submit">Start scenario</button>
            </div>
          </div>
        </fieldset>
      </form>

      {{#if result}}
      <h3>Results</h3>

      <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th width="180px">Params</th>
          <th width="450px">Error Message</th>
          <th width="80px">Result</th>
        </tr>
        </thead>
        <tbody>
        {{#with result}}
        {{#if cause}}
        <tr>
          <td>{{testName}}</td>
          <td><ul class="test-params">{{#each parameters}}<li>{{this}}<li/>{{/each}}</ul></td>
          <td>{{cause}}</td>
          <td><span class="label label-important">{{result}}</span></td></tr>
        {{/if}}
        {{#unless cause}}
        <tr>
          <td>{{testName}}</td>
          <td><ul class="test-params">{{#each parameters}}<li>{{this}}<li/>{{/each}}</ul></td>
          <td></td>
          <td><span class="label label-success">{{result}}</span></td></tr>
        {{/unless}}
        {{/with}}
        </tbody>
      </table>
      {{/if}}
    </div>
  </body>

</html>
