<nav data-test="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">Citrus Simulator</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()" data-test="navigationHomeLink">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/scenario" (click)="collapseNavbar()" data-test="navigationScenariosLink">
            <span>
              <fa-icon icon="box-open"></fa-icon>
              <span jhiTranslate="citrusSimulatorApp.scenario.home.title">Scenarios</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/scenario-result" (click)="collapseNavbar()" data-test="navigationScenarioExecutionsLink">
            <span>
              <fa-icon icon="square-poll-vertical"></fa-icon>
              <span jhiTranslate="citrusSimulatorApp.scenarioExecution.home.title">Scenario Executions</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="entity-menu"
            data-test="navigationEntitiesLink"
          >
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.entities.main">Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/message"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesMessageLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.message">Message</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/message-header"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesMessageHeaderLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.messageHeader">Message Header</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/scenario-execution"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesScenarioExecutionLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.scenarioExecution">Scenario Execution</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/scenario-action"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesScenarioActionLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.scenarioAction">Scenario Action</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/scenario-parameter"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesScenarioParameterLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.scenarioParameter">Scenario Parameter</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/test-result"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesTestResultLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.testResult">Test Result</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/test-parameter"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
                data-test="navigationEntitiesParameterLink"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.testParameter">Test Parameter</span>
              </a>
            </li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="resources-menu" data-test="entity">
            <span>
              <fa-icon icon="circle-info"></fa-icon>
              <span jhiTranslate="global.menu.resources.main">Resources</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a class="dropdown-item" href="http://citrusframework.org/citrus-simulator/" target="_blank" data-test="documentation">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.resources.documentation">Documentation</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="/swagger-ui/index.html" data-test="swaggerUI">
                <div class="img-svg img-svg-openapi svg-inline--fa"></div>
                <span jhiTranslate="global.menu.resources.swagger">Swagger UI</span>
              </a>
            </li>
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span jhiTranslate="global.menu.language">Language</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
                >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
