@if (filters().hasAnyFilterSet()) {
  <div class="filter-display">
    <span jhiTranslate="entity.filters.set">Following filters are set</span>
    <button class="btn" (click)="clearAllFilters()" (keydown.enter)="clearAllFilters()">
      <fa-icon icon="times" title="{{ 'entity.filters.clearAll' | translate }}" />
    </button>
    <ul>
      @for (filterOption of filters().filterOptions; track filterOption.name) {
        @for (value of filterOption.values; track value) {
          <li>
            <span data-test="filterValue">{{ filterOption.name }}: {{ value }}</span>
            <button class="btn" (click)="clearFilter(filterOption.name, value)" (keydown.enter)="clearFilter(filterOption.name, value)">
              <fa-icon icon="times" title="{{ 'entity.filters.clear' | translate }}" />
            </button>
          </li>
        }
      }
    </ul>
  </div>
}
