@if (filters.hasAnyFilterSet()) {
  <div class="filter-display">
    <span jhiTranslate="entity.filters.set">Following filters are set</span>
    <fa-icon
      icon="times"
      data-test="clearAllFiltersButton"
      (click)="clearAllFilters()"
      title="{{ 'entity.filters.clearAll' | translate }}"
    ></fa-icon>
    <ul>
      @for (filterOption of filters.filterOptions; track filterOption) {
        @for (value of filterOption.values; track value) {
          <li>
            <span data-test="filterValue">{{ filterOption.name }}: {{ value }}</span>
            <fa-icon
              icon="times"
              (click)="clearFilter(filterOption.name, value)"
              title="{{ 'entity.filters.clear' | translate }}"
              data-test="clearFilterButton"
            ></fa-icon>
          </li>
        }
      }
    </ul>
  </div>
}
