<h1 class="page-header"><i class="fa fa-cogs"></i> Activity
    <div class="pull-right">
        <span class="clickable action-icon" title="Refresh Activity" (click)="getActivities()"><i class="fa fa-refresh refresh-icon"></i></span>
        <span class="clickable action-icon" title="Clear Activity" (click)="clearActivities()"><i class="fa fa-recycle"></i></span>
    </div>
</h1>

<hr/>

<div style="border: 1px solid #ced4da; border-top: 0;">
    <div class="input-group">
        <input [(ngModel)]="scenarioExecutionFilter.scenarioName" id="name" type="text" class="form-control filter-input first-input-element" placeholder="Filter By Name">
        <button type="button" class="btn btn-primary filter filter-input {{successState}} filterButton" (click)="toggleSuccess()"><i [class]="successState ? 'fa fa-check' : 'fa fa-eye-slash'"></i> Success</button>
        <button type="button" class="btn btn-primary filter filter-input {{failedState}} filterButton" (click)="toggleFailed()"><i [class]="failedState ? 'fa fa-check' : 'fa fa-eye-slash'"></i> Failed</button>
        <button type="button" class="btn btn-primary filter filter-input {{activeState}} filterButton" (click)="toggleActive()"><i [class]="activeState ? 'fa fa-check' : 'fa fa-eye-slash'"></i> Active</button>
    </div>
    <input [(ngModel)]="scenarioExecutionFilter.headerFilter" id="headers" type="text" class="form-control filter-input header-filter" placeholder="Filter By Header" data-toggle="tooltip"
           data-placement="top" title="Use optional key value pairs to filter via the MessageHeaders&#10;Pattern: key1:value1;key2:value2">
    <div class="date-section">
        <div class="date-box">
            <mat-form-field color="primary" appearance="fill">
                <i *ngIf="inputDateFrom" (click)="resetDateFrom();" class="fa fa-times clear-date clickable"></i>
                <input #dateFromInput (dateChange)="inputDateFrom = dateFromInput.value; setDateTimeFrom();" matInput [matDatepicker]="dateFrom" placeholder="Date from">
                <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>
            <div class="time-div flex">
                <i *ngIf="inputTimeFrom" (click)="resetTimeFrom();" class="fa fa-times clear-time clickable"></i>
                <input [(ngModel)]="inputTimeFrom" (ngModelChange)="setDateTimeFrom()" matInput class="timepicker" [ngxTimepicker]="timeFrom" readonly placeholder="Time from">
                <ngx-material-timepicker-toggle class="timepicker-icon" [for]="timeFrom"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timeFrom></ngx-material-timepicker>
            </div>
        </div>
        <div class="date-box">
            <mat-form-field appearance="fill">
                <i *ngIf="inputDateTo" (click)="resetDateTo();" class="fa fa-times clear-date clickable"></i>
                <input #dateToInput (dateChange)="inputDateTo = dateToInput.value; setDateTimeTo();" matInput [matDatepicker]="dateTo" placeholder="Date to">
                <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>
            <div class="time-div flex">
                <i *ngIf="inputTimeTo" (click)="resetTimeTo();" class="fa fa-times clear-time clickable"></i>
                <input [(ngModel)]="inputTimeTo" (ngModelChange)="setDateTimeTo()" matInput class="timepicker" [ngxTimepicker]="timeTo" readonly placeholder="Time to">
                <ngx-material-timepicker-toggle class="timepicker-icon" [for]="timeTo"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #timeTo></ngx-material-timepicker>
            </div>
        </div>
    </div>
</div>
<div class="navigation space-top-30">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default pageSizeCounter">{{scenarioExecutionFilter.pageSize}}</button>
        <button type="button" class="btn btn-secondary pageSizeDropDown dropdown-toggle" data-toggle="dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="pageSize">
            <li><a class="dropdown-item disabled" id="page_size">Page size</a></li>
            <li role="separator" class="divider"></li>
            <li><a id="page_size_10" (click)="scenarioExecutionFilter.pageSize = 10" class="clickable dropdown-item">10</a></li>
            <li><a id="page_size_25" (click)="scenarioExecutionFilter.pageSize = 25" class="clickable dropdown-item">25</a></li>
            <li><a id="page_size_50" (click)="scenarioExecutionFilter.pageSize = 50" class="clickable dropdown-item">50</a></li>
            <li><a id="page_size_100" (click)="scenarioExecutionFilter.pageSize = 100" class="clickable dropdown-item">100</a></li>
            <li><a id="page_size_250" (click)="scenarioExecutionFilter.pageSize = 250" class="clickable dropdown-item">250</a></li>
            <li><a id="page_size_500" (click)="scenarioExecutionFilter.pageSize = 500" class="clickable dropdown-item">500</a></li>
            <li><a id="page_size_1000" (click)="scenarioExecutionFilter.pageSize = 1000" class="clickable dropdown-item">1000</a></li>
        </ul>
    </div>

    <nav aria-label="Page navigation" class="d-inline-flex">
        <ul class="pagination">
            <li class="page-item">
                <a id="prev-step" aria-label="Previous" (click)="prev()" class="clickable page-link">
                    <span aria-hidden="true"><i class="fa fa-caret-left"></i></span>
                </a>
            </li>
            <li class="page-item"><span><b class="page-link">{{(scenarioExecutionFilter.pageNumber + 1)}}</b></span></li>
            <li>
                <a id="next-step" aria-label="Next" (click)="next()" class="clickable page-link">
                    <span aria-hidden="true"><i class="fa fa-caret-right"></i> </span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="table-responsive">
    <scenario-execution-list [scenarioExecutions]="scenarioExecutions"></scenario-execution-list>
</div>
