<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Citrus Simulator</span></h1>

    <p>
      <span jhiTranslate="home.like">If you like Citrus and the Simulator, don't forget to give us a star on</span>
      <a href="https://github.com/citrusframework/citrus-simulator" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>
