<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Activity</h3>
                <div class="pull-right">
                    <span class="clickable" title="Refresh Activity" (click)="getActivity()">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </span>
                    <span class="clickable filter" title="Toggle table filter" (click)="toggleFilterDisplay()">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                    <span class="clickable" title="Clear Activity" (click)="clearActivity()">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                </div>
            </div>
            <div class="panel-body" *ngIf="displayFilter">
                <div class="input-group">
                    <input [(ngModel)]="inputValue" type="text" class="form-control" placeholder="Filter By Name">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-filter {{successState}}" (click)="toggleSuccess()">Success</button>
                        <button type="button" class="btn btn-default btn-filter {{failedState}}" (click)="toggleFailed()">Failed</button>
                        <button type="button" class="btn btn-default btn-filter {{activeState}}" (click)="toggleActive()">Active</button>
                    </div>
                </div>
            </div>
            <test-execution-list [testExecutions]="testExecutions | activityFilter : inputValue : includeSuccess : includeFailed : includeActive"></test-execution-list>
        </div>
    </div>
</div>
