<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
                <div class="pull-right">
                    <span class="clickable" title="Refresh Status Information" (click)="refreshStatusInformation()">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </span>
                    <span class="clickable" title="Clear Status Information" (click)="clearStatusInformation()">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </span>
                </div>
            </div>
            <ul class="list-group" *ngIf="summary">
                <li class="list-group-item clickable" (click)="onSelect('SUCCESS')">
                    <span class="label label-pill label-success">{{summary.success}}</span>
                    Successful scenarios
                </li>
                <li class="list-group-item clickable" (click)="onSelect('FAILED')">
                    <span class="label label-pill label-danger">{{summary.failed}}</span>
                    Failed scenarios
                </li>
                <li class="list-group-item clickable" (click)="onSelect('ACTIVE')">
                    <span class="label label-pill label-info">{{active}}</span>
                    Active scenarios
                </li>
            </ul>
        </div>
    </div>
</div>
