/*
 * Dashboard
 */

.simulator-results {
    margin-bottom: 30px;
}

.simulator-results h4 {
    margin-bottom: 0;
}

.simulator-result {
    text-align: center;
    margin-bottom: 20px;
}

.simulator-result a {
    color: #404040;
}

.simulator-result a:hover {
    color: #404040;
}

.simulator-result .badge {
    display: inline-block;
    font-size: 2em;
    min-width: 5em;
    border-radius: 50%;
    padding: 45px 35px;
    border-width: 9px;
    border-style: solid;
    color: #404040;
    background-color: #fff;
    margin: 0 3px;
}

.simulator-result span.badge-success:hover {
    border-color: #468847;
}

.simulator-result span.badge-danger:hover {
    border-color: #a94442;
}

.border-success {
    border-color: #5cb85c;
}

.border-warning {
    border-color: #f0ad4e;
}

.border-danger {
    border-color: #d9534f;
}

.border-info {
    border-color: #5bc0de;
}

.status-container {
    display: flex;
    flex-wrap: wrap;
}

.status-item {
    padding: 0 5px 0 5px;
}
