<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (testParameter(); as testParameterRef) {
      <div>
        <h2 data-cy="testParameterDetailsHeading">
          <span jhiTranslate="citrusSimulatorApp.testParameter.detail.title">Test Parameter</span>
        </h2>

        <hr />

        <app-alert-error />

        <app-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="citrusSimulatorApp.testParameter.key">Key</span></dt>
          <dd>
            <span>{{ testParameterRef.key }}</span>
          </dd>
          <dt><span jhiTranslate="citrusSimulatorApp.testParameter.value">Value</span></dt>
          <dd>
            <span>{{ testParameterRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="citrusSimulatorApp.testParameter.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ testParameterRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="citrusSimulatorApp.testParameter.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ testParameterRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="citrusSimulatorApp.testParameter.testResult">Test Result</span></dt>
          <dd>
              <div>
                <a [routerLink]="['/test-result', testParameter()!.testResultId, 'view']">{{ testParameterRef.testResultId }}</a>
              </div>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
      </div>
    }
  </div>
</div>
