* {
    font-family: Arial, Helvetica, sans-serif;
}

.label-pill {
    float: right;
    border-radius: 1em;
}

.page-header span > i, .sub-header span > i {
    color: #31708f;
    font-size: 0.7em;
    font-weight: normal;
}

.page-header span > i:hover, .sub-header span > i:hover {
    color: #0096D6;
}

.sub-header {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.space-top-30 {
    margin-top: 30px;
}

div.navigation {
    display: block;
    text-align: center;
}

ul.pagination {
    margin-top: 5px;
}

/** Tables */

.table > thead > tr > th {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #ddd;
}

/** Header navigation */

.navbar-nav > li > a {
    min-width: 8em;
}

/** Buttons **/

.btn:active, .btn.active {
    text-decoration: underline;
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn-primary,
.btn-primary:focus {
    background-color: #33abde !important;
    border-color: #33abde !important;
}

.btn-primary:hover, .btn-primary.active:hover {
    background-color: #33abde !important;
    border-color: #33abde !important;
}

.btn-primary.active,
.btn-primary.active:focus {
    background-color: #0096D6 !important;
    border-color: #0096D6 !important;
}

.btn-return {
    color: #ffffff;
    border-color: #d66e5b;
    background: #d66e5b;
}

.btn-return:hover {
    border-color: #d6857a;
    background-color: #d6857a;
}

.btn-filter:focus, .btn-filter:active:focus, .btn-filter.active:focus, .btn-filter.focus, .btn-filter:active.focus, .btn-filter.active.focus {
    outline: 0;
    box-shadow: none !important;
}

.filter {
    border-radius: 0 !important;
    height: 100% !important;
}

.clickable{
    cursor: pointer;
}

tr td {
    font-size: 14px;
}

.page-link {
    margin: -1px -1px;
}

.action-icon {
    padding: 3px 3px;
    width: 25px;
    height: 25px;
}

.fa-refresh {
    transform: scale(1.02);
    vertical-align: middle !important;
}

.pageSizeCounter {
    min-width: 4em !important;
    border-color: #CED4DA !important;
}

.pageSizeDropDown{
    border-color: #CED4DA !important;
    color: black !important;
    background-color: white !important;
}

.font {
    font-size: 20px;
    color: gray;
}

.inline-flex {
    display: inline-flex;
}

.padding-top {
    padding-top: 25px;
}

.text {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
