* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 70px
}

.label-pill {
    float: right;
    border-radius: 1em;
}

.page-header span > i, .sub-header span > i {
    color: #31708f;
    font-size: 0.7em;
    font-weight: normal;
}

.page-header span > i:hover, .sub-header span > i:hover {
    color: #0096D6;
}

.sub-header {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.space-top-30 {
    margin-top: 30px;
}

div.navigation {
    display: block;
    text-align: center;
}

ul.pagination {
    margin-top: 5px;
}

/** Tables */

.table > thead > tr > th {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #ddd;
}

/** Header navigation */

.navbar-nav > li > a {
    min-width: 8em;
}

/** Buttons **/

.btn:active, .btn.active {
    text-decoration: underline;
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn-primary,
.btn-primary:focus {
    background-color: #33abde;
    border-color: #33abde;
}

.btn-primary:hover, .btn-primary.active:hover {
    background-color: #33abde;
    border-color: #33abde;
}

.btn-primary.active,
.btn-primary.active:focus {
    background-color: #0096D6;
    border-color: #0096D6;
}

.btn-return {
    color: #ffffff;
    border-color: #d66e5b;
    background: #d66e5b;
}

.btn-return:hover {
    border-color: #d6857a;
    background-color: #d6857a;
}

.btn-filter:focus, .btn-filter:active:focus, .btn-filter.active:focus, .btn-filter.focus, .btn-filter:active.focus, .btn-filter.active.focus {
    outline: 0;
}

.clickable{
    cursor: pointer;
}

tr td {
    font-size: 14px;
}