tr.no-scenarios {
    display: table-row;
}

td.scenario {
    cursor: pointer;
}

tr.scenario + tr.no-scenarios {
    display: none;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.padding {
    padding: 0 10px;
}
