.first-input-element {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.btn:active, .btn.active {
    text-decoration: underline;
    outline: 0;
    background-image: none;
    box-shadow: none;
}

.btn-primary-active{
    background-color: #31708f !important;
    border-color: #31708f !important;
    color: #ffffff !important;
}

.btn-primary:hover, .btn-primary.active:hover {
    background-color: #0096D6 !important;
    border-color: #0096D6 !important;
}

.btn-primary{
    background-color: #33abde !important;
    border-color: #33abde !important;
}

.btn-return {
    color: #ffffff;
    border-color: #d66e5b;
    background: #d66e5b;
}

.btn-return:hover {
    border-color: #d6857a;
    background-color: #d6857a;
}

.filter-input:focus, .filter-input:active:focus, .filter-input.active:focus, .filter-input.focus, .filter-input:active.focus, .filter-input.active.focus {
    outline: 0;
    box-shadow: none !important;
}

.header-filter {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.filter {
    border-radius: 0 !important;
    height: 100% !important;
}

.date-section {
    display:flex;
    justify-content:space-between;
    horiz-align:center;
}

.date-box {
    display:grid;
    flex-grow:1;
}

.date-box + .date-box {
    border-left:solid 20px #fff;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top:0!important;
    background-color:#fff!important;
    align-items:center;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding:0;
    border:none;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom:-10px;
}

::ng-deep .ngx-timepicker {
    height:70%!important;
    border-bottom:0!important;
    padding:0;
}

::ng-deep input.mat-input-element {
    margin-left:13px;
    color:#69666b;
}

::ng-deep .ngx-material-timepicker-toggle {
    padding:0 0 5px!important;
    margin-right:20px;
    filter:invert(37%) sepia(5%) saturate(6656%) hue-rotate(156deg) brightness(97%) contrast(77%);
}

::ng-deep.mat-form-field-ripple {
    background-color:#000!important;
}

::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color:#5bc0de;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color:#31708f;
    background-color:#5bc0de!important;
}

::ng-deep .mat-calendar-body-selected {
    background-color:#31708f;
}

mat-form-field {
    min-width: 50px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    margin-left:0;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom:0;
    min-width: 50px!important;
}

::ng-deep .mat-form-field-underline {
    top:40px;
    padding-bottom:0;
}

mat-datepicker-toggle {
    color:#31708f!important;
}

::ng-deep .timepicker {
    margin-left:25px !important;
    margin-bottom:auto;
    height:100%;
    margin-top: 0.1em !important;
}

::ng-deep .ngx-material-timepicker-toggle{
    padding-bottom: 0 !important;
}

.flex {
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
}

::ng-deep .mat-form-field-subscript-wrapper {
    position:revert!important;
}

::ng-deep .time-div {
    height:40px;
}

::ng-deep .timepicker-dial__control:focus {
    border: none !important;
}

::ng-deep .mat-calendar-body-today {
    border: none !important;
}

.clear-date {
    position: absolute;
    left: -6px;
}

.clear-time {
    position: absolute;
    padding-top: 1px;
    padding-left: 6px;
}

::ng-deep .ngx-material-timepicker-toggle:focus {
    background-color: rgba(0,0,0,0) !important;
}
