# Node.js configuration
engine-strict=true
registry=https://repo.pnet.ch/artifactory/api/npm/eta-npm/
strict-ssl=true

# needed for node-gyp (transitive dependency of @semantic-release/npm) - see: https://stackoverflow.com/a/76377726/10843655
disturl=https://repo.pnet.ch/artifactory/nodejs-generic-remote/
