<div>
  <h2 id="page-heading" data-test="MessageHeaderHeading">
    <span jhiTranslate="citrusSimulatorApp.messageHeader.home.title">Message Headers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading" data-test="refreshListButton">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="citrusSimulatorApp.messageHeader.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <app-filter [filters]="displayFilters"></app-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="messageHeaders?.length === 0" data-test="noDataFound">
    <span jhiTranslate="citrusSimulatorApp.messageHeader.home.notFound">No Message Headers found</span>
  </div>

  <app-message-header-table
    *ngIf="messageHeaders?.length !== 0"
    [messageHeaders]="messageHeaders!"
    [predicate]="predicate"
    [ascending]="ascending"
    (sortChange)="navigateToWithComponentValues($event)"
  ></app-message-header-table>

  <div *ngIf="messageHeaders && messageHeaders.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
