<div class="table-responsive table-entities" id="entities" *ngIf="sortedMessageHeaders && sortedMessageHeaders.length > 0">
  <table class="table table-striped table-hover" aria-describedby="page-heading" data-test="messageHeaderEntityTable">
    <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="emitSortChange()">
        <th scope="col" jhiSortBy="headerId">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.id">ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.name">Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="value">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.value">Value</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th *ngIf="standalone" scope="col" jhiSortBy="message.citrusMessageId">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.message">Message</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th *ngIf="standalone" scope="col" jhiSortBy="createdDate">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.createdDate">Created Date</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th *ngIf="standalone" scope="col" jhiSortBy="lastModifiedDate">
          <div class="d-flex">
            <span jhiTranslate="citrusSimulatorApp.messageHeader.lastModifiedDate">Last Modified Date</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let messageHeader of sortedMessageHeaders; trackBy: trackId"
        data-test="messageHeaderEntityRow"
        class="clickable-row"
        [routerLink]="['/message-header', messageHeader.headerId, 'view']"
      >
        <td>
          <a [routerLink]="['/message-header', messageHeader.headerId, 'view']" data-test="messageHeaderEntityId">{{
            messageHeader.headerId
          }}</a>
        </td>
        <td data-test="messageHeaderEntityName">{{ messageHeader.name }}</td>
        <td data-test="messageHeaderEntityValue">{{ messageHeader.value }}</td>
        <td *ngIf="standalone">
          <div *ngIf="messageHeader.message">
            <a [routerLink]="['/message', messageHeader.message.messageId, 'view']" data-test="messageHeaderEntityValue">{{
              messageHeader.message.citrusMessageId
            }}</a>
          </div>
        </td>
        <td *ngIf="standalone" data-test="messageHeaderEntityCreatedDate">{{ messageHeader.createdDate | formatMediumDatetime }}</td>
        <td *ngIf="standalone" data-test="messageHeaderEntityLastModified">{{ messageHeader.lastModifiedDate | formatMediumDatetime }}</td>
      </tr>
    </tbody>
  </table>
</div>
