<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Direction</th>
        <th>Date</th>
        <th>Scenario</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr class="message" *ngFor="let message of messages" (click)="onSelect(message)">
        <td><span [class]="message.direction == 'INBOUND' ? 'label label-success' : 'label label-primary'">{{message.direction}}</span></td>
        <td>{{message.date | date:format}}</td>
        <td>{{message.scenarioName}}</td>
        <td>{{message.payload | truncate: 80}}</td>
    </tr>
    <tr class="no-messages">
        <td colspan="4">No messages to display</td>
    </tr>
    </tbody>
</table>
