<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Messages</h3>
                <div class="pull-right">
                    <span class="clickable" title="Refresh Messages" (click)="getMessages()">
                        <i class="fa fa-refresh"></i>
                    </span>
                    <span class="clickable filter" title="Toggle table filter" (click)="toggleFilterDisplay()">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                    <span class="clickable" title="Clear All Messages" (click)="clearAllMessages()">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
            <div class="panel-body" *ngIf="displayFilter">
                <div class="input-group">
                    <input [(ngModel)]="inputValue" type="text" class="form-control" placeholder="Filter By Content">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-filter {{inboundState}}" (click)="toggleInbound()">Inbound</button>
                        <button type="button" class="btn btn-default btn-filter {{outboundState}}" (click)="toggleOutbound()">Outbound</button>
                    </div>
                </div>
            </div>
            <message-list [messages]="messages | messageFilter : inputValue:includeInbound:includeOutbound"></message-list>
        </div>
    </div>
</div>
